<app-sidebar-bo></app-sidebar-bo>
<!-- PAGE CONTAINER-->
<div class="page-container2">
    <!-- HEADER DESKTOP-->
    <header class="header-desktop2">
        <div class="section__content section__content--p30">
            <div class="container-fluid">


            </div>
        </div>
    </header>

    <!-- END HEADER DESKTOP-->

    <!-- BREADCRUMB-->
    <section class="au-breadcrumb m-t-75">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="au-breadcrumb-content">
                            <div class="au-breadcrumb-left">
                                <span class="au-breadcrumb-span">You are here:</span>
                                <ul class="list-unstyled list-inline au-breadcrumb__list">
                                    <li class="list-inline-item active"><a href="/Home/homeBO">Dashboard</a></li>
                                    <li class="list-inline-item seprate"><span>/</span></li>
                                    <li class="list-inline-item">Edit Task</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END BREADCRUMB-->

    <section>
        <div class="col-lg-6 center-block">
            <div class="card">
                <div class="card-header">EDIT TASK</div>
                <div class="card-body card-block">
                    <form #f="ngForm">
                        <input type="hidden" name="task_id" value="{{task.taskId}}" />
                        <div class="form-group">
                            <label>Description</label> <input class="au-input au-input--full" type="text" name="task_description"
                                placeholder="Description" value="{{task.taskDescription}}" ngModel>
                        </div>

                        <div class="form-group">
                            <label>Action</label> <input class="au-input au-input--full" type="text" name="task_action"
                                placeholder="Action" value="{{task.taskAction}}" ngModel>
                        </div>

                        <div class="form-group">
                            <label>Input</label> <input class="au-input au-input--full" type="text" name="task_input"
                                placeholder="Input" value="{{task.taskInput}}" ngModel>
                        </div>

                        <div class="form-group">
                            <label>Output</label> <input class="au-input au-input--full" type="text" name="task_output"
                                placeholder="Output" value="{{task.taskOutput}}" ngModel>
                        </div>

                        <div class="form-group">
                            <label>Resource</label> <select class="form-control" name="resource_id" *ngFor="let resource of resources">
                                <!--<%
											for (ResourceDTO resourceDTO : resourceList) {

												if (resourceDTO.getResourceId() == updateTask.getResourceDTO().getResourceId()) {
										%>
                                <option>
                                     </option><%=selected%> 
                                     <%=resourceDTO.getResourceId()%>"><%=resourceDTO.getResourceName()%>
                                </option>  -->
                                <!--	<%
											} else {
										%>-->
                                <option value="{{resource.resourceId}}">
                                    {{resource.resourceName}}
                                    <!--<%=resourceDTO.getResourceName()%>-->
                                </option>
                                <!--<%
											}
											}
										%>-->
                            </select>

                        </div>

                        <div class="form-group">
                            <label>Time</label> <input class="au-input au-input--full" type="number" name="task_time"
                                placeholder="Time" value="{{task.taskTime}}" ngModel>
                        </div>

                        <div class="form-group">
                            <label>State</label> <input class="au-input au-input--full" type="number" name="task_state"
                                placeholder="State" value="{{task.taskState}}" ngModel>
                        </div>


                        <div class="login-checkbox"></div>
                        <button type="submit" class="btn btn-secondary btn-sm" (click)="update(f)">Update</button>
                    </form>
                </div>

            </div>
        </div>
    </section>
    <section>
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-8"></div>
                    <div class="col-xl-4"></div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-6"></div>
                    <div class="col-xl-6"></div>
                </div>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
    <!-- END PAGE CONTAINER-->
</div>