<!-- MENU SIDEBAR-->
		<aside class="menu-sidebar2">
			<div class="logo">
				<a href="#"> <img src="/assets/images/icon/wmeslogo2.png"
					alt="Cool Admin" />
				</a>
			</div>
			<div class="menu-sidebar2__content js-scrollbar1">
				<div class="account2">
					<div class="image img-cir img-120">
						<img src="/assets/images/icon/avatarBo.jpg" alt="BusinessOwner" />
					</div>
					<h4 class="name">Business Owner</h4>
					<a href="/User/logout">Sign out</a>
				</div>
				<nav class="navbar-sidebar2">
					<ul class="list-unstyled navbar__list">
						<li><a href="/Home/homeBO"> <i class="fas fa-chart-bar"></i>Dashboard
						</a></li>

						<li><a href="/Client/clientManagement"> <i
								class="fas fa-user"></i>Clients
						</a></li>
						<li><a href="/Resource/resourceManagement"> <i
								class="fas fa-user"></i>Resources
						</a></li>
						<li><a href="/Order/orderManagement"> <i
								class="fas fa-boxes"></i>Orders
						</a></li>
						<li><a href="/Project/projectManagement"> <i
								class="fas fa-sitemap"></i>Projects
						</a></li>
						<li><a href="/ProjectTemplate/projectTemplateManagement">
								<i class="fas fa-chart-pie"></i>Project Templates
						</a></li>
						<li><a href="/TaskModel/taskModelManagement"> <i
								class="fas fa-tasks"></i>Task Model
						</a></li>

					</ul>
				</nav>
			</div>
		</aside>
		<!-- END MENU SIDEBAR-->