<app-sidebar-bo></app-sidebar-bo>
<!-- PAGE CONTAINER-->
<div class="page-container2">
    <!-- HEADER DESKTOP-->
    <header class="header-desktop2">
        <div class="section__content section__content--p30">
            <div class="container-fluid">

            </div>
        </div>
    </header>

    <!-- END HEADER DESKTOP-->

    <!-- BREADCRUMB-->
    <section class="au-breadcrumb m-t-75">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="au-breadcrumb-content">
                            <div class="au-breadcrumb-left">
                                <span class="au-breadcrumb-span">You are here:</span>
                                <ul class="list-unstyled list-inline au-breadcrumb__list">
                                    <li class="list-inline-item active"><a href="/Home/homeBO">Dashboard</a></li>
                                    <li class="list-inline-item seprate"><span>/</span></li>
                                    <li class="list-inline-item">Project Template Management</li>
                                 </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END BREADCRUMB-->

    <!-- STATISTIC-->
    <section class="statistic">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">

                        <!-- TEMPLATE TABLE -->
                        <h3 class="title-5 m-b-35">Project Template Table</h3>

                        <div class="table-data__tool-right">
                            <button (click)="insertLink()" class="au-btn au-btn-icon au-btn--green au-btn--small">
                                <i class="zmdi zmdi-plus"></i>ADD TEMPLATE
                            </button>

                            <div class="table-responsive table-responsive-data2"></div>
                            <!-- END USER TABLE -->
                        </div>
                                <table class="table table-data2">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!--<%
													for (ProjectTemplateDTO ProjectTemplate : allProjectTemplate) {
												%>-->

                                        <tr class="tr-shadow" *ngFor="let projectTemplate of projectsTemplate">
                                            <td>{{projectTemplate.projectName}}</td>

                                            <td>
                                                <div class="table-data-feature">

                                                    <button (click)="updateLink(projectTemplate.projectTemplateId)"
                                                        class="ietm" data-toggle="tooltip" data-placement="top" title="Edit">
                                                        <i class="zmdi zmdi-edit"></i>
                                                    </button>

                                                    <a href="/ProjectTemplate/projectTemplateManagement" (click)="removeLink(projectTemplate.projectTemplateId)"
                                                        class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                                        <i class="zmdi zmdi-delete"></i>
                                                    </a>

                                                    <a href="/ProjectTemplate/projectTemplateManagement" (click)="cloneLink(projectTemplate.projectTemplateId)"
                                                        class="item" data-toggle="tooltip" data-placement="top" title="Clone">
                                                        <i class="zmdi zmdi-clone"></i>
                                                    </a>

                                                </div>
                                            </td>
                                    </tbody>                                   
                                </table>
                            </div>
                            
                        </div>

                    </div>
                </div>   
    </section>
    <!-- END STATISTIC-->

    <section>
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-8"></div>
                    <div class="col-xl-4"></div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-6"></div>
                    <div class="col-xl-6"></div>
                </div>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
    <!-- END PAGE CONTAINER-->
</div>