<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-project-heading" jhiTranslate="projectsFrontEndApp.microserviziAppProject.home.createOrEditLabel">Create or edit a Project</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!project.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="project.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projectsFrontEndApp.microserviziAppProject.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="project.name" required/>
                    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projectsFrontEndApp.microserviziAppProject.link" for="field_link">Link</label>
                    <input type="text" class="form-control" name="link" id="field_link"
                        [(ngModel)]="project.link" required/>
                    <div [hidden]="!(editForm.controls.link?.dirty && editForm.controls.link?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.link?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projectsFrontEndApp.microserviziAppProject.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="project.description" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projectsFrontEndApp.microserviziAppProject.addedValue" for="field_addedValue">Added Value</label>
                    <input type="number" class="form-control" name="addedValue" id="field_addedValue"
                        [(ngModel)]="project.addedValue" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projectsFrontEndApp.microserviziAppProject.endDate" for="field_endDate">End Date</label>
                    <div class="d-flex">
                        <input id="field_endDate" type="datetime-local" class="form-control" name="endDate" [(ngModel)]="endDate"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projectsFrontEndApp.microserviziAppProject.nextCriticalDate" for="field_nextCriticalDate">Next Critical Date</label>
                    <div class="d-flex">
                        <input id="field_nextCriticalDate" type="datetime-local" class="form-control" name="nextCriticalDate" [(ngModel)]="nextCriticalDate"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projectsFrontEndApp.microserviziAppProject.status" for="field_status">Status</label>
                    <input type="text" class="form-control" name="status" id="field_status"
                        [(ngModel)]="project.status" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projectsFrontEndApp.microserviziAppProject.file" for="field_file">File</label>
                    <select class="form-control" id="field_file" name="file" [(ngModel)]="project.fileId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="fileOption.id" *ngFor="let fileOption of files; trackBy: trackFileById">{{fileOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projectsFrontEndApp.microserviziAppProject.program" for="field_program">Program</label>
                    <select class="form-control" id="field_program" name="program" [(ngModel)]="project.programId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="programOption.id" *ngFor="let programOption of programs; trackBy: trackProgramById">{{programOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projectsFrontEndApp.microserviziAppProject.person" for="field_person">Person</label>
                    <select class="form-control" id="field_person" name="person" [(ngModel)]="project.personId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="personOption.id" *ngFor="let personOption of people; trackBy: trackPersonById">{{personOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projectsFrontEndApp.microserviziAppProject.currentTask" for="field_currentTask">Current Task</label>
                    <select class="form-control" id="field_currentTask" name="currentTask" [(ngModel)]="project.currentTaskId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="taskOption.id" *ngFor="let taskOption of currenttasks; trackBy: trackTaskById">{{taskOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
