
<app-sidebar-bo></app-sidebar-bo>

<!-- PAGE CONTAINER-->
<div class="page-container2">
    <!-- HEADER DESKTOP-->
    <header class="header-desktop2">
        <div class="section__content section__content--p30">
            <div class="container-fluid">

            </div>
        </div>
    </header>

    <!-- END HEADER DESKTOP-->

    <!-- BREADCRUMB-->
    <section class="au-breadcrumb m-t-75">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="au-breadcrumb-content">
                            <div class="au-breadcrumb-left">
                                <span class="au-breadcrumb-span">You are here:</span>
                                <ul class="list-unstyled list-inline au-breadcrumb__list">
                                    <li class="list-inline-item active"><a href="/Home/homeBO">Dashboard</a></li>
                                    <li class="list-inline-item seprate"><span>/</span></li>
                                    <li class="list-inline-item">Edit Template</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END BREADCRUMB-->

    <section>
        <div class="col-lg-6 center-block">
            <div class="card">
                <div class="card-header">EDIT PROJECT</div>
                <div class="card-body card-block">
                     <form #f="ngForm">
                         <input type="hidden" name="projectId" [(ngModel)]="project.projectId" />
                       <div class="form-group">
                            <label>Name</label> <input class="au-input au-input--full" type="text" name="projectName"
                                placeholder="Name" [(ngModel)]="project.projectName">
                        </div>
                        
                        <div class="form-group">
                            <label>Task List</label>
                            <select class="form-control" name="taskId" [(ngModel)]="project.taskDTO.taskId">
                                <option *ngFor="let task of tasks" [value]="task.taskId"
                                    [selected]="task.taskId == project.taskDTO.taskId">
                                    {{task.taskDescription}}
                                </option>

                            </select>
                        </div>

                        <div class="form-group">
                            <label>Status</label> <select class="form-control" name="project_status">
                                <!--	<%
											for (int i = 0; i <= 2; i++) {

												if (updateProject.getProjectStatus() == i) {
										%>-->
                                <option selected="selected" value="<%=i%>">
                                    <!--<%=convertProjectStatus(i)%>-->
                                </option>
                                <!--	<%
											} else {
										%>-->
                                <option value="<%=i%>">
                                    <!--<%=convertProjectStatus(i)%>-->
                                </option>
                                <!--<%
											}
											}
										%>-->
                            </select>

                        </div>
                   
                        <a href="/Project/projectManagement" type="submit" class="btn btn-secondary btn-sm" (click)="update(f)">Update</a>
                    </form>
                </div>

            </div>
        </div>
    </section>
    <section>
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-8"></div>
                    <div class="col-xl-4"></div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-6"></div>
                    <div class="col-xl-6"></div>
                </div>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
    <!-- END PAGE CONTAINER-->
</div>